html, body {
    margin: 0;
    padding: 0;
}

.home-page-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .movie-listings {
        background: white;
        box-sizing: border-box;
        padding: 28px 54px;
        max-width: $max-width;
        width: 100%;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 24px;

        @media (max-width: 1070px) {
            grid-template-columns: repeat(3, 1fr);
        }

        @media (max-width: 820px) {
            grid-template-columns: repeat(2, 1fr);
        }

        @media (max-width: 540px) {
            grid-template-columns: repeat(1, 1fr);
        }

        @media (max-width: 540px) {
            padding: 28px 23px;
        }


    }
}
