.footer-container {
    background: #0C3542;
    max-width: $max-width;
    display: flex;
    flex-direction: column;
    width: 100%;

    .footer-heading {
        background: #123D4B;
        width: 100%;
        box-sizing: border-box;

        .footer-content {
            padding: 23px 50px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            min-width: 300px;
            flex-wrap: wrap;

            @media (max-width: 800px) {
                display: grid;
                gap: 20px;
                grid-template-columns: repeat(2, 1fr);
            }
            @media (max-width: 800px) {
                padding: 23px;
            }

            .location-info {
                display: flex;
                flex-direction: column;
                gap: 3px;
                position: relative;
                max-width: 150px;

                .arrow-bottom {
                    position: absolute;
                    top: 3px;
                    right: -18px;
                    cursor: pointer;
                }

                .address {
                    max-width: 156px;
                    font-family: $font-family-sans-serif;
                    font-weight: $font-weight-regular;
                    font-size: $font-size-base;
                    line-height: 100%;
                    color: $white;
                }

                .street {
                    font-family: $font-family-sans-serif;
                    font-weight: $font-weight-regular;
                    font-size: 13px;
                    line-height: 100%;
                    color: $gray-400;
                }
            }
        }
    }

    .footer-bottom-section {
        padding: 28px 50px 19px;
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid #A0AEB7;

        @media (max-width: 800px) {
            padding: 28px 23px 19px;
        }

        .footer-menu-title {
            font-family: $font-family-sans-serif;
            font-weight: $font-weight-regular;
            font-size: $font-size-base;
            color: $white;
        }

        .footer-list {
            list-style: none;
            padding: 0;
            margin-top: 12px;
        }

        .footer-link-item {
            font-family: $font-family-sans-serif;
            font-weight: $font-weight-regular;
            font-size: $font-size-base;
            line-height: 100%;
            padding: 4px 0;
            color: $gray-400;
            text-decoration: none;
            display: block;

            &:hover {
                text-decoration: underline;
            }
        }

        .payment-container {
            display: flex;
            flex-direction: column;
            gap: 54px;

            @media (max-width: 800px) {
                gap: 20px;
            }

            .payment-icon {
                max-width: 50px;
            }

            .footer-payment-group {
                display: flex;
                flex-direction: column;
                gap: 12px;

                .payment-methods {
                    display: flex;
                    gap: 22px;
                }
            }
        }

        .footer-disclaimer-text {
            color: $gray-400;
            font-family: $font-family-sans-serif;
            font-weight: $font-weight-regular;
            font-size: 13px;
            line-height: 18px;

            p {
                margin: 0;
            }
        }
    }

    .bottom-content {
        padding: 23px 50px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        @media (max-width: 500px) {
            flex-direction: column;
            gap: 20px;
            padding: 23px;
        }

        .socials {
            display: flex;
            align-items: center;
            gap: 16px;

            img {
                cursor: pointer;
            }
        }

        .footer-copyright {
            font-family: $font-family-sans-serif;
            font-weight: $font-weight-regular;
            font-size: 14px;
            line-height: 100%;
            color: $gray-400;
        }
    }
}

