.filters-block {
    max-width: $max-width;
    background: #FFFFFF;
    width: 100%;
    box-sizing: border-box;

    .filters-content {
        display: flex;
        align-items: center;
        gap: 32px;
        padding: 0 50px;

        @media (max-width: 720px) {
            padding: 10px 50px;
            flex-direction: column-reverse;
            gap: 10px;
            align-items: start;
        }

        @media (max-width: 500px) {
            padding: 10px 23px;
        }

        .main-nav {
            display: flex;
            gap: 22px;

            @media (max-width: 500px) {
                flex-wrap: wrap;
                gap: 0;
            }

            .nav-link {
                padding: 13px 5px;
                text-decoration: none;
                font-family: $font-family-sans-serif;
                font-weight: $font-weight-regular;
                color: $text-color;
                font-size: 14px;
                line-height: 100%;

                &.active {
                    border-bottom: 3px solid #FF0000;
                }
            }
        }

        .user-controls {
            display: flex;
            gap: 32px;
        }
    }

    .nav-filters {
        height: auto;
        display: flex;
        width: 100%;
        padding: 8px 50px;
        background: #F2F2F5;
        box-sizing: border-box;

        @media (max-width: 500px) {
            padding: 8px 23px;
        }

        .date-pills {
            display: flex;
            gap: 6px;
            flex-wrap: wrap;
        }
    }
}
